<div {{ if (id) { }}id="{{- id }}"{{ } }} class="jr-mDialog jr {{- additionalCssClasses }}" role="dialog" aria-modal="true" {{ if (titleContainerId) { }}aria-labelledby="{{- titleContainerId }}"{{ } }} {{ if (bodyContainerId) { }}aria-describedby="{{- bodyContainerId }}"{{ } }}>

    <js-templateNonce></js-templateNonce>
    <div class="jr-mDialog-header mover jr">
        <h1 {{ if (titleContainerId) { }}id="{{- titleContainerId }}"{{ } }} class="jr-mDialog-header-title jr">{{- title }}</h1>
    </div>
    <div class="jr-mDialog-body jr {{- additionalBodyCssClasses }}" {{ if (bodyContainerId) { }}id="{{- bodyContainerId }}"{{ } }}>
        <div class="jr-mDialog-body-wrapper jr subcontainer"></div>
    </div>
    <div class="jr-mDialog-footer jr"></div>

</div>
