<div class="panel dialog overlay moveable sizeable centered_horz centered_vert permissions centered_vert centered_horz"
     id="permissionDialog"
     style="height: 360px; margin-left: -300px; left: 50%; margin-top: -180px; top: 50%; z-index: 4000;">

    <!-- nonce-KVQ6-WXC6-O82E-4PMC-NFU2-AAIW-HHAE-Q0C3 (jsp XSS nonce) -->


    <div class="sizer diagonal"></div>

    <div class="content hasFooter ">


        <div class="header mover">

            <div class="title" id="permissionDialogTitle">
                Permissions:&nbsp;<span aria-level="1" class="path" role="heading"
                                        title="/organizations/organization_1/analysis/schemas/FoodmartGrant">/organizations/organization_1/analysis/schemas/FoodmartGrant</span>
            </div>


        </div>


        <div class="body  " id="">

            <ul aria-labelledby="permissionDialogTitle permissionsViewByTabLabel"
                class="list tabSet text control horizontal responsive superfocus" js-navtype="tablist"
                js-suspended-tabindex="0" role="tablist" tabindex="-1">
                <li class="label first" id="permissionsViewByTabLabel" role="none"><p class="wrap">View by:</p></li>
                <li aria-selected="false" class="tab tablistleaf" role="tab"><p class="wrap button" tabindex="-1">
                    User</p></li>
                <li aria-selected="true" class="tab tablistleaf last selected subfocus" role="tab" tabindex="0"><p
                        class="wrap button" tabindex="-1">Role</p></li>
            </ul>


            <form class="control searchLockup " id="anonymous_element_14" role="search">
                <div class="wrap">
                    <input aria-label="Search" class="" type="text">
                </div>
                <b class="right">
                    <button aria-label="Clear" class="button searchClear"></button>
                </b>
                <button aria-label="Search" class="button search up"></button>
                <input name="OWASP_CSRFTOKEN" type="hidden" value="PGWM-ZP1P-Y0KL-ST4N-DLFM-G80V-60D4-4XO7"></form>


            <p class="message hint" tabindex="0">* indicates inherited permission level</p>


            <div class="control groupBox fillParent" id="anonymous_element_13">

                <!-- nonce-KVQ6-WXC6-O82E-4PMC-NFU2-AAIW-HHAE-Q0C3 (jsp XSS nonce) -->


                <div class="content ">


                    <div class="body  " id="anonymous_element_15">

                        <ul class="list setLeft tabular twoColumn" id="anonymous_element_12" js-navtype="dynamiclist"
                            role="treegrid" tabindex="0">
                            <li class="leaf first selected cursor" id="anonymous_element_12_item2"
                                js-navtype="dynamiclist" role="row" tabindex="-1">
                                <div class="wrap" role="none">
                                    <b class="icon" role="none"></b>
                                    <p class="column one" data-cell="0" role="gridcell"><a class="launcher">ROLE_ADMINISTRATOR</a>
                                    </p>
                                    <p class="column two" data-cell="1" role="gridcell">
                                        <select aria-label="permission select" js-navtype="dynamiclist" tabindex="-1">
                                            <option value="NO_ACCESS">No Access</option>
                                            <option value="ADMINISTER">Administer *</option>
                                            <option value="READ_ONLY">Read Only</option>
                                            <option value="READ_WRITE">Read + Write</option>
                                            <option value="READ_DELETE">Read + Delete</option>
                                            <option value="READ_WRITE_DELETE">Read + Write + Delete</option>
                                            <option value="EXECUTE">Execute Only</option>
                                        </select>
                                    </p>
                                </div>
                            </li>
                            <li class="leaf" id="anonymous_element_12_item3" js-navtype="dynamiclist" role="row"
                                tabindex="-1">
                                <div class="wrap" role="none">
                                    <b class="icon" role="none"></b>
                                    <p class="column one" data-cell="0" role="gridcell"><a class="launcher">ROLE_ANONYMOUS</a>
                                    </p>
                                    <p class="column two" data-cell="1" role="gridcell">
                                        <select aria-label="permission select" js-navtype="dynamiclist" tabindex="-1">
                                            <option value="NO_ACCESS">No Access *</option>
                                            <option value="ADMINISTER">Administer</option>
                                            <option value="READ_ONLY">Read Only</option>
                                            <option value="READ_WRITE">Read + Write</option>
                                            <option value="READ_DELETE">Read + Delete</option>
                                            <option value="READ_WRITE_DELETE">Read + Write + Delete</option>
                                            <option value="EXECUTE">Execute Only</option>
                                        </select>
                                    </p>
                                </div>
                            </li>
                            <li class="leaf" id="anonymous_element_12_item4" js-navtype="dynamiclist" role="row"
                                tabindex="-1">
                                <div class="wrap" role="none">
                                    <b class="icon" role="none"></b>
                                    <p class="column one" data-cell="0" role="gridcell"><a
                                            class="launcher">ROLE_DEMO</a></p>
                                    <p class="column two" data-cell="1" role="gridcell">
                                        <select aria-label="permission select" js-navtype="dynamiclist" tabindex="-1">
                                            <option value="NO_ACCESS">No Access *</option>
                                            <option value="ADMINISTER">Administer</option>
                                            <option value="READ_ONLY">Read Only</option>
                                            <option value="READ_WRITE">Read + Write</option>
                                            <option value="READ_DELETE">Read + Delete</option>
                                            <option value="READ_WRITE_DELETE">Read + Write + Delete</option>
                                            <option value="EXECUTE">Execute Only</option>
                                        </select>
                                    </p>
                                </div>
                            </li>
                            <li class="leaf" id="anonymous_element_12_item5" js-navtype="dynamiclist" role="row"
                                tabindex="-1">
                                <div class="wrap" role="none">
                                    <b class="icon" role="none"></b>
                                    <p class="column one" data-cell="0" role="gridcell"><a
                                            class="launcher">ROLE_PORTLET</a></p>
                                    <p class="column two" data-cell="1" role="gridcell">
                                        <select aria-label="permission select" js-navtype="dynamiclist" tabindex="-1">
                                            <option value="NO_ACCESS">No Access *</option>
                                            <option value="ADMINISTER">Administer</option>
                                            <option value="READ_ONLY">Read Only</option>
                                            <option value="READ_WRITE">Read + Write</option>
                                            <option value="READ_DELETE">Read + Delete</option>
                                            <option value="READ_WRITE_DELETE">Read + Write + Delete</option>
                                            <option value="EXECUTE">Execute Only</option>
                                        </select>
                                    </p>
                                </div>
                            </li>
                            <li class="leaf" id="anonymous_element_12_item6" js-navtype="dynamiclist" role="row"
                                tabindex="-1">
                                <div class="wrap" role="none">
                                    <b class="icon" role="none"></b>
                                    <p class="column one" data-cell="0" role="gridcell"><a class="launcher">ROLE_SUPERMART_MANAGER</a>
                                    </p>
                                    <p class="column two" data-cell="1" role="gridcell">
                                        <select aria-label="permission select" js-navtype="dynamiclist" tabindex="-1">
                                            <option value="NO_ACCESS">No Access *</option>
                                            <option value="ADMINISTER">Administer</option>
                                            <option value="READ_ONLY">Read Only</option>
                                            <option value="READ_WRITE">Read + Write</option>
                                            <option value="READ_DELETE">Read + Delete</option>
                                            <option value="READ_WRITE_DELETE">Read + Write + Delete</option>
                                            <option value="EXECUTE">Execute Only</option>
                                        </select>
                                    </p>
                                </div>
                            </li>
                            <li class="leaf" id="anonymous_element_12_item7" js-navtype="dynamiclist" role="row"
                                tabindex="-1">
                                <div class="wrap" role="none">
                                    <b class="icon" role="none"></b>
                                    <p class="column one" data-cell="0" role="gridcell"><a class="launcher">ROLE_SUPERUSER</a>
                                    </p>
                                    <p class="column two" data-cell="1" role="gridcell">
                                        <select aria-label="permission select" disabled="disabled"
                                                js-navtype="dynamiclist" tabindex="-1">
                                            <option value="NO_ACCESS">No Access</option>
                                            <option value="ADMINISTER">Administer *</option>
                                            <option value="READ_ONLY">Read Only</option>
                                            <option value="READ_WRITE">Read + Write</option>
                                            <option value="READ_DELETE">Read + Delete</option>
                                            <option value="READ_WRITE_DELETE">Read + Write + Delete</option>
                                            <option value="EXECUTE">Execute Only</option>
                                        </select>
                                    </p>
                                </div>
                            </li>
                            <li class="leaf last" id="anonymous_element_12_item8" js-navtype="dynamiclist" role="row"
                                tabindex="-1">
                                <div class="wrap" role="none">
                                    <b class="icon" role="none"></b>
                                    <p class="column one" data-cell="0" role="gridcell"><a
                                            class="launcher">ROLE_USER</a></p>
                                    <p class="column two" data-cell="1" role="gridcell">
                                        <select aria-label="permission select" js-navtype="dynamiclist" tabindex="-1">
                                            <option value="NO_ACCESS">No Access</option>
                                            <option value="ADMINISTER">Administer</option>
                                            <option value="READ_ONLY">Read Only *</option>
                                            <option value="READ_WRITE">Read + Write</option>
                                            <option value="READ_DELETE">Read + Delete</option>
                                            <option value="READ_WRITE_DELETE">Read + Write + Delete</option>
                                            <option value="EXECUTE">Execute Only</option>
                                        </select>
                                    </p>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <p class="message warning" tabindex="0">You must apply or revert changes before changing view</p>

        </div>

        <div class="footer ">
            <button class="button action primary up"><span class="wrap">Apply</span><span class="icon"></span></button>
            <button class="button action up"><span class="wrap">OK</span><span class="icon"></span></button>
            <button class="button action up"><span class="wrap">Cancel</span><span class="icon"></span></button>
        </div>

    </div>
</div>